* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0;
}

.text, .th-text, .cart-text, .Card-description-text, .fs-content p {
  font-size: 14px;
  line-height: 17px;
}

.header {
  margin: 0 auto;
  padding: 18px 0;
  position: relative;
  background-color: #222222;
}

.Searh-icon {
  margin-left: 41px;
}

.form {
  padding-top: 8px;
}

.Login-icon, .Cart-icon {
  margin-left: 33px;
}

.Cart {
  position: relative;
}

.Cart-items {
  position: absolute;
  right: -19%;
  top: -19%;
  background: #F16D7F;
  font-size: 12px;
  color: #FFFFFF;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  text-align: center;
  line-height: 19px;
}

.Humburger-link {
  list-style-type: none;
  cursor: pointer;
}

.menu {
  height: 764px;
  position: absolute;
  background: #FFFFFF;
  top: 76px;
  right: 0px;
  padding: 35px 0 35px 35px;
  float: right;
  z-index: 12;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.menu .top-menu-links {
  display: none !important;
  margin-bottom: 16px;
}

.menu .top-menu-links .li-tml {
  margin-left: 0;
}

.close {
  position: absolute;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  opacity: 0.6;
  cursor: pointer;
  top: 19px;
  right: 19px;
}

.close:hover {
  opacity: 1;
  color: #F16D7F;
}

.menu-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.menu-names {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-top: 20px;
}

.menu-Items {
  list-style: none;
  margin-left: 20px;
  min-width: 105px;
}

.menu-item {
  text-decoration: none;
  color: #6F6E6E;
  margin-top: 12px;
  transition: color 1s ease-out;
}

.menu-item:hover {
  color: #F16D7F;
}

.block-menu {
  margin-right: 70px;
}

.first-section {
  background-color: #F1E4E6;
  height: 764px;
}

.FS-Lable {
  margin-top: 290px;
  margin-right: 88px;
}

.Lable-header h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.Lable-header h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.Fl-line {
  background-color: #F16D7F;
  width: 12px;
  height: 92px;
  margin-right: 12px;
}

.anover {
  color: #F16D7F;
}

.second-content {
  padding-top: 65px;
}

.top-img {
  margin-bottom: 30px;
}

.top-img-item {
  background-blend-mode: multiply;
  text-align: center;
  width: 31.5%;
  height: 260px;
  padding: 103px;
  text-decoration: none;
}

.bottom-img-item {
  background-blend-mode: multiply;
  text-align: center;
  width: 100%;
  height: 180px;
  padding: 65px;
  display: block;
  text-decoration: none;
}

.tii-first {
  background: url(../img/Picture_1.jpg) rgba(0, 0, 0, 0.6);
  background-size: 100% 100%;
  background-position: center;
  background-size: contain;
}

.tii-second {
  background: url(../img/Picture_2.jpg) rgba(0, 0, 0, 0.6);
  background-size: contain;
  background-position: center;
}

.tii-third {
  background: url(../img/Picture_3.jpg) rgba(0, 0, 0, 0.6);
  background-size: contain;
  background-position: center;
}

.tii-fourth {
  background: url(../img/Picture_4.jpg) rgba(0, 0, 0, 0.6);
  background-size: 100% 100%;
  background-position: center;
}

.top-lable {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.bottom-lable {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #F16D7F;
}

.third-header {
  margin-top: 96px;
  text-align: center;
  margin-bottom: 48px;
}

.th-top {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.th-text {
  color: #9F9F9F;
}

.third-section-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.tsc-mb {
  margin-bottom: 128px;
}

.item-box {
  margin-bottom: 30px;
}

.item-box .item {
  width: 100%;
  position: relative;
}

.item:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.ts-Card-img {
  width: 100%;
}

.item-link {
  display: block;
  text-decoration: none;
}

.item:hover .ts-Card-img {
  filter: brightness(30%);
}

.item:hover .add-cart {
  display: flex;
}

.add-cart {
  position: absolute;
  top: 188px;
  display: none;
  justify-content: center;
  width: 100%;
}

.add-cart-link:hover {
  box-shadow: 0 0 5px #FFFFFF;
}

.add-cart-link {
  display: flex;
  border: 1px solid #FFFFFF;
  align-items: center;
  min-height: 43px;
  padding: 8px 13px;
  text-decoration: none;
}

.cart-text {
  color: #FFFFFF;
  margin-left: 11px;
}

.Card-description {
  margin: -3px 0;
  border: 0;
  max-width: 360px;
  background: #F8F8F8;
  padding: 24px 20px 20px 16px;
}

.ts-Card-header {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  margin-bottom: 12px;
}

.Card-description-text {
  font-weight: 300;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.card-price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.Browse {
  margin: 0 auto;
  margin-bottom: 96px;
  margin-top: 48px;
  padding: 14px 38px;
  border: 1px solid #F16D7F;
  text-align: center;
  color: #F16D7F;
  width: 220px;
}

.Browse-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  text-decoration: none;
  transition: all 1s;
}

.Browse:hover {
  background-color: #F16D7F;
}

.Browse:hover .Browse-text {
  color: white;
}

.fourth-section {
  height: 341px;
  background: #222222;
  padding-top: 103px;
}

.fs-content {
  text-align: center;
}

.fs-content:nth-child(1) img {
  margin-bottom: 28px;
}

.fs-content:nth-child(2) img {
  margin-bottom: 19px;
}

.fs-content:nth-child(3) img {
  margin-bottom: 25px;
}

.fs-content h4 {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
}

.fs-content p {
  font-weight: 300;
  text-align: center;
  color: #FBFBFB;
  max-width: 360px;
}

.top-footer-block {
  background: url(../img/Five-image.jpg);
  background-size: 100% 100%;
  background-position: center;
  height: 448px;
  background-repeat: no-repeat;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244, 0.7);
}

.left-block {
  text-align: center;
  margin-top: 97px;
}

.face {
  margin-bottom: 30px;
}

.lb-text {
  max-width: 360px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.right-block {
  text-align: center;
  margin-top: 150px;
  margin-right: 97px;
}

.right-block h3:nth-child(1) {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222222;
}

.right-block h3:nth-child(2) {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222222;
  margin-bottom: 32px;
}

.Email-form {
  width: 360px;
  height: 50px;
}

.email {
  background-color: #E1E1E1;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  opacity: 0.67;
  padding: 16.5px 64px 16.5px 22px;
  border-width: 0;
  border-radius: 25px 0 0 25px;
  outline: none;
}

.Subscribe {
  background-color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 16.5px;
  border-width: 0;
  border-radius: 0 25px 25px 0;
  margin-left: -4px;
  cursor: pointer;
}

.footer-bottom {
  background: #222222;
  height: 80px;
  padding: 30px 0;
}

.Rights {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.social ul {
  list-style: none;
}

.fab {
  color: #222222;
}

.social-item {
  margin-left: 7px;
  background-color: #FFFFFF;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-out;
}

.social-item:hover {
  background-color: #F16D7F;
}

.social-item:hover .fab {
  color: #FFFFFF;
}

.social-link {
  text-decoration: none;
}

.catalog-first-section {
  background: #F8F3F4;
  height: 148px;
}

.new-arrivals {
  margin-top: 60px;
}

.nav {
  margin-top: 65px;
}

.nav-item {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  transition: color 1s ease-out;
}

.nav-item:hover {
  color: #F16D7F;
}

.nav-input:checked ~ .nav-item {
  font-weight: 700;
  color: #F16D7F;
}

.ml {
  margin-left: 16px;
}

.Pagination {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 96px;
}

.cursor-item {
  font-weight: 700;
  color: #F16D7F;
}

.catalog-header {
  padding: 51px 0 65px 16px;
  position: relative;
  height: 133px;
}

.filter {
  list-style-type: none;
  cursor: pointer;
  position: relative;
}

.filter-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
}

.filter-name::after {
  margin-left: 10px;
  content: url("../img/filter_after.svg");
  background-size: 28px 28px;
  height: 10px;
  width: 15px;
  cursor: pointer;
}

.filter-menu {
  position: absolute;
  z-index: 4;
  padding: 16px 16px 0 16px;
  top: 27px;
  left: 0;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter-menu-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  cursor: pointer;
  margin-bottom: 24px;
}

.filter-menu-name::after {
  margin-left: 10px;
  content: url("../img/filter_after_menu.svg");
  background-size: 28px 28px;
  height: 10px;
  width: 15px;
  cursor: pointer;
}

.filter-menu-heading {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  cursor: pointer;
  align-items: center;
  margin: 0 0 0 15px;
  position: relative;
}

.select-color {
  color: #F16D7F;
}

.filter-menu-heading::before {
  margin-right: 11px;
  content: url("../img/menu_befor.svg");
  background-size: 28px 28px;
  height: 37px;
  width: 5px;
  cursor: pointer;
  position: absolute;
  top: -10px;
  left: -15px;
}

.menu-hr {
  width: 327px;
  margin: 10px 0 18px 0;
}

.menu-filter-Items {
  list-style: none;
  padding-left: 15px;
  margin-bottom: 18px;
}

.menu-filter-Items .menu-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
  width: 100%;
  display: block;
  transition: color 1s ease-out;
}

.menu-filter-Items .menu-item:hover {
  color: #F16D7F;
}

.filter-menu-heading {
  display: block;
  position: relative;
  cursor: pointer;
  color: #6F6E6E;
  transition: color 1s ease-out;
}

.filter-menu-heading:hover {
  color: #F16D7F;
}

.accardion-input {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
}

.accardion-input:checked ~ .filter-menu-heading {
  color: #F16D7F;
}

.accardion-input:checked ~ .acc-title:after {
  border-style: solid;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent #FFFFFF transparent;
}

.accardion-input:checked ~ .acc-text {
  display: block;
}

.acc-text {
  display: none;
}

/* Pagination */

.Pagination {
  border: 1px solid #EBEBEB;
  width: 296px;
  height: 46px;
  margin: 0 auto;
  margin-bottom: 96px;
}

[data-pagination] {
  font-size: 8pt;
  line-height: 1;
  font-weight: 400;
  margin: 1em auto;
  text-align: center;
  transition: font-size .2s ease-in-out;
}

[data-pagination] ul {
  list-style-type: none;
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: .5em;
}

[data-pagination] ul li {
  display: inline-block;
  font-size: 100%;
  width: auto;
  border-radius: 3px;
}

[data-pagination] > a {
  font-size: 140%;
}

[data-pagination] a {
  color: #777;
  font-size: 100%;
  padding: .5em;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  width: 290px;
}

[data-pagination] a:focus,
[data-pagination] a:hover {
  color: #F16D7F;
}

[data-pagination] li.current {
  background: rgba(0, 0, 0, 0.1);
}

.arrow {
  font-weight: bold;
  width: 8px;
  height: 14px;
}

.slider-section {
  height: 1320px;
  position: relative;
  margin-bottom: 130px;
}

.slider {
  background: url(../img/Slide_1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 777px;
  background-color: #F7F7F7;
  position: absolute;
  width: 100%;
}

.slider-arrow {
  position: absolute;
  top: 365px;
  padding: 12px 10px 12px 10px;
  background: rgba(42, 42, 42, 0.15);
  height: 46px;
  width: 46px;
  border: 0;
  text-align: center;
  transition: all 1s ease-out;
}

.slider-arrow span {
  font-weight: 700;
  font-size: 24px;
  line-height: 19px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.slider-arrow:hover span {
  color: #F16D7F;
}

.slider-info {
  position: absolute;
  top: 712px;
  height: 600px;
  width: 1140px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  padding-top: 64px;
  text-align: center;
  left: 50%;
  margin-left: -570px;
}

.slider-info h3 {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  font-weight: 300;
  margin-bottom: 12px;
}

.gorizont-line {
  display: block;
  width: 63px;
  height: 3px;
  background-color: #F16D7F;
  margin: 0 auto;
  margin-bottom: 12px;
}

.slider-info h2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.slider-info-txt {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  max-width: 555px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.slider-info span {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.slider-info hr {
  width: 640px;
  margin: 0 auto;
  margin-top: 65px;
}

.slider-filter-nav {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 48px;
  margin-top: 65px;
  box-sizing: border-box;
  position: relative;
}

.slider-filter-nav details {
  height: 18px;
}

.add-cart-sl {
  margin: 0 auto;
  width: 211px;
  height: 47px;
  text-align: center;
  border: 1px solid #F16D7F;
  padding: 10px 20px;
  transition: all 1s;
  position: relative;
}

.add-cart-sl a {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
}

.add-cart-sl a span {
  font-size: 16px;
  line-height: 19px;
}

.add-cart-sl a img {
  margin-right: 12px;
}

.filter-nav {
  min-width: 360px;
  margin-left: 300px;
  margin-top: -15px;
}

.select {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  color: #6F6E6E;
}

.sl-cart-text::before {
  left: 20px;
  content: url(../img/red-cart-link.svg);
  background-size: 25px 25px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  position: absolute;
}

.add-cart-sl:hover {
  background-color: #F16D7F;
}

.add-cart-sl:hover .cart-text {
  color: white;
}

.add-cart-sl:hover .sl-cart-text::before {
  content: url(../img/cart-link.svg);
}

.carts {
  min-height: 998px;
  padding-top: 56px;
  padding-bottom: 128px;
  box-sizing: border-box;
}

.carts .left-cart-block {
  max-width: 57%;
}

.carts .left-cart-block .cart {
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  height: 306px;
  margin-top: 40px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.carts .left-cart-block .cart .cart-image {
  height: 100%;
  width: 262px;
}

.carts .left-cart-block .cart .cart-info {
  position: relative;
  padding: 22px 22px 0 31px;
  height: 100%;
  min-width: 390px;
}

.carts .left-cart-block .cart .cart-info .cart-info-heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  width: 60%;
  margin-bottom: 42px;
}

.carts .left-cart-block .cart .cart-info .cart-info-items {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.carts .left-cart-block .cart .cart-info .cii-price {
  color: #F16D7F;
}

.carts .left-cart-block .cart .cart-info .quantity {
  width: 200px;
}

.carts .left-cart-block .cart .cart-info .quantity .qua-lable {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.carts .left-cart-block .cart .cart-info .quantity .qty {
  margin-left: 24px;
  border: 1px solid #EAEAEA;
  width: 43px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #6F6E6E;
  outline: none;
}

.carts .left-cart-block .clb-bottons {
  margin-top: 72px;
}

.carts .left-cart-block .clb-botton {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #A4A4A4;
  text-decoration: none;
  color: #222222;
  padding: 16px 40px;
  background-color: #FFFFFF;
  transition: all 1s ease-out;
}

.carts .left-cart-block .clb-botton:hover {
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

.carts .right-cart-block {
  max-width: 32%;
  margin-top: 57px;
}

.carts .right-cart-block .rcb-form {
  width: 100%;
}

.carts .right-cart-block .rcb-form .form-heading {
  float: left;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.carts .right-cart-block .rcb-form .country {
  margin-top: 20px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding: 14px 16px;
  border: 1px solid #A4A4A4;
  width: 100%;
  outline: none;
}

.carts .right-cart-block .rcb-form .state::placeholder {
  color: #222222;
}

.carts .right-cart-block .rcb-form .get-button {
  padding: 10px 14px;
  width: 100px;
  color: #6F6E6E;
  background-color: #FFFFFF;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  transition: all 1s ease-out;
}

.carts .right-cart-block .rcb-form .get-button:hover {
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

.carts .right-cart-block .total {
  margin-top: 57px;
  width: 100%;
  min-height: 214px;
  background-color: #F5F3F3;
  padding: 40px 34px;
  box-sizing: border-box;
  text-align: center;
}

.carts .right-cart-block .total h4 {
  float: right;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.carts .right-cart-block .total h4 span {
  margin-left: 25px;
}

.carts .right-cart-block .total h3 {
  float: right;
  clear: both;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 21px;
}

.carts .right-cart-block .total h3 span {
  margin-left: 25px;
  color: #F16D7F;
  font-weight: 700;
}

.carts .right-cart-block .total hr {
  margin: 0 auto;
  background: #ccc9c9;
  clear: both;
  margin-bottom: 17px;
}

.carts .right-cart-block .total .total-btn {
  color: #FFFFFF;
  background-color: #F16D7F;
  padding: 15px 42px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border: none;
  transition: color 0.7s;
  transition: background-color 0.7s;
}

.carts .right-cart-block .total .total-btn:hover {
  color: #F16D7F;
  background-color: #FFFFFF;
}

.registration {
  min-height: 675px;
  padding-top: 64px;
  padding-bottom: 96px;
  box-sizing: border-box;
}

.registration .form-block {
  max-width: 32%;
}

.registration .form-block .form-heading {
  float: left;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.registration .form-block .input-place {
  margin-top: 20px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding: 14px 16px;
  border: 1px solid #A4A4A4;
  width: 100%;
  outline: none;
}

.registration .form-block #male-form {
  margin-top: 30px;
  height: 22px;
  width: 22px;
  appearance: none;
  outline: none;
  position: relative;
}

.registration .form-block #male-form::before {
  content: '';
  position: absolute;
  top: 72%;
  left: 30%;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #6F6E6E;
}

.registration .form-block #male-form::before:hover {
  border: 1px solid #F16D7F;
}

.registration .form-block #male-form:checked::after {
  content: '';
  position: absolute;
  top: 72%;
  left: 30%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #F16D7F;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.registration .form-block .mf-lable {
  cursor: pointer;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #222222;
  margin-right: 20px;
}

.registration .form-block .pass-desc {
  margin-top: 15px;
  width: 100%;
  min-height: 32px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #6F6E6E;
  margin-bottom: 40px;
}

.registration .form-block .send-form {
  color: #FFFFFF;
  background-color: #F16D7F;
  padding: 15px 42px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid transparent;
  transition: all 1s ease-out;
}

.registration .form-block .send-form:hover {
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background-color: #FFFFFF;
}

.right-form-block {
  width: 57%;
}

.right-form-block .rfb-heading {
  margin: bottom 22px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.right-form-block p {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: bottom 22px;
}

.right-form-block ul {
  list-style-type: none;
  padding-left: 0;
}

.right-form-block li {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
}

.right-form-block li:before {
  content: "\2713";
  margin-right: 22px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media (min-width: 768px) and (max-width: 1024px) {

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;      
  }
    
  .logo {
    margin-left: 8px;
  }
      
  .right-links {
    margin-right: 17px;
  }
    
  .first-section {
    height: 368px;
  }
    
  .first-section img {
    height:368px;
    margin-left: 100px;
  }
    
  .FS-Lable {
    margin-top: 138px;
    margin-right: 10px;
  }
    
  .Lable-header h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
  }
    
  .Lable-header h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
  .second-content {
    margin: 0 auto
  }

  .top-img-item {
    height: 167px;
    padding: 59px 39px;
    margin-top: 20px;
  }

  .bottom-img-item {
    height: 116px;
    padding: 33px;
    }
    
  .top-img {
    margin-bottom: 20px;
  }
    
  .ts-Card-img {
    width: 100%;
  }
    
  .third-header {
    margin-top: 154px;
    margin-bottom: 74px;
  }
    
  .Card-description {
    max-width: 100%;
  }
    
  .item-link {
    width:100%
  }
    
  .item-box {
    width:48.5%
  }
    
  .Browse {
    margin-bottom: 65px;
    margin-top: 32px;
  }
    
  .fourth-section {
    min-height: 610px;
    padding-top:48px;
  }
    
  .fs {
    flex-direction: column;
  }
    
  .fs-content p {
    margin: 0 auto;
    margin-bottom: 48px;
  }
    
  .top-footer-block {
    background-size: cover;
    height: 614px; background-repeat: no-repeat;
    background-position-x: 25%;
  }
    
  .footer-top-content {
    flex-direction: column;
  }
    
  .left-block {
    margin: 0 auto;
    margin-top: 54px;
    margin-bottom: 48px;
  }
    
  .right-block {
    text-align: center;
    margin: 0 auto;
  }
}
  
@media (max-width: 767px) {
  .container {
  width: 100%;
  margin: 0 auto;
  padding:0 16px;
  }
    
  .right-menu-items {
  display: none !important;
  }
    
  .menu .top-menu-links {
    display: flex !important
  }
    
  .fs-img {
    display: none;
  }

  .first-section{
    margin: 0 auto;
    text-align: center;
    height: 363px;
  }

  .FS-Lable {
    margin: 0 auto;
    margin-top: 150px;
  }
    
  .Fl-line {
    height: 61px 
  }
    
  .Lable-header h1 {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
  }
    
  .Lable-header h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
    
  .second-section{
    padding-top:64px
  }
    
  .top-img {
    flex-direction: column;
    margin-bottom: 30px;
  }
    
  .top-img-item{
    margin-top: 32px;
    width:100%;
    background-size: cover
  }
    
  .tii-fourth {
    height: 111px;
    background-size:cover;
    background-position: center;
    padding-top:30px;
  }
    
  .item-box{
    margin: 0 auto;
    text-align: center;
    margin-left: -8px;
    margin-right: -8px;
  }
    
  .item{
    min-width: 360px;
    margin-bottom: 16px;
  }
    
  .Card-description {
    max-width: 100%;
  }
    
  .Browse {
    margin-bottom: 96px;
    margin-top: 41px;
  }
    
  .fourth-section {
    min-height: 610px;
    padding-top: 48px;
  }
    
  .fs {
    flex-direction: column;
  }
    
  .top-footer-block {
    background-size: cover;
    height: 614px;
    background-repeat: no-repeat;
    background-position-x: 25%;
  }
    
  .footer-top-content {
    flex-direction: column;
  }
    
  .left-block {
    margin: 0 auto;
    margin-top: 54px;
    margin-bottom: 48px;
  }
    
  .right-block {
    text-align: center;
    margin: 0 auto;
  }
    
  .lb-text {
    max-width: 100%;
    font-size: 18px;
    line-height: 22px;
  }

  .right-block h3:nth-child(2) {
    font-size: 14px;
    line-height: 22px;
  }
    
  .footer-bottom {
    min-height: 143px;
    display: block;
    position: relative;
    padding: 0;
  }
    
  .social ul {
    padding-left: 0;
  }
    
  .social{
    padding-left:0;
    padding-left:0;
    position: absolute;
    top: 43px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom:40px; 
  }  
    
  .social-item:first-child {
    margin-left: 0;
  }

  .Rights {
    position: absolute;
    bottom:-9px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 251px;
  }
}